* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */
header {
    background: #111;
    color: #fff;
    padding: 25px;
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
}

header p {
    margin-top: 8px;
    font-size: 1.2rem;
    opacity: 0.9;
}

/* PRODUCTS */
.products {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
}

.card p {
    margin: 5px 0;
}

.price {
    color: #009688;
    font-size: 1.2rem;
    font-weight: bold;
}
/* قسم الروابط */
.links {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.links .icon {
    width: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

.links .icon:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    background: #111;
    color: #ddd;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
